In [1]:
import sys, os, inspect

project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))  # .. = parent de /main
if project_root not in sys.path:
    sys.path.append(project_root)

from utils.paper_estimators_runner import PaperEstimatorsRunner

runner = PaperEstimatorsRunner(
            symbols  = ["XRPUSDT",       "SOLUSDT"],
            periods  = [(2023, 9),       (2023,10)],
            mode     = "pair",
            light_download = True)

# 1) Estimateurs papier
df_est = runner.get_estimates()
display(df_est.head())

# 2) Métriques (toutes)
df_perf = runner.evaluate()
display(df_perf)

# 3) Seulement le RMSE
df_rmse = runner.evaluate(y_metric="RMSE")
display(df_rmse)

⚠️ Klines déjà existant : c:\Users\theod\OneDrive\Documents\GitHub\Deep-Learning-for-Spread-Forecasting\data\raw data\XRPUSDT-1m-2023-09.parquet
⚠️ BookTicker déjà existant : c:\Users\theod\OneDrive\Documents\GitHub\Deep-Learning-for-Spread-Forecasting\data\raw data\XRPUSDT-bookTicker-2023-09.parquet
⚠️ Klines déjà existant : c:\Users\theod\OneDrive\Documents\GitHub\Deep-Learning-for-Spread-Forecasting\data\raw data\SOLUSDT-1m-2023-10.parquet
⚠️ BookTicker déjà existant : c:\Users\theod\OneDrive\Documents\GitHub\Deep-Learning-for-Spread-Forecasting\data\raw data\SOLUSDT-bookTicker-2023-10.parquet

                              S1        S2        S3            S4  \
symbol  year month day
SOLUSDT 2023 9     1    0.000680  0.000833  0.000599  1.239090e-04
                   2    0.000372  0.000209  0.000505  7.870721e-07
                   3    0.000160  0.000000  0.000224  1.018438e-05
                   4    0.000248  0.000000  0.001592  2.483024e-04
                   5    0.000321  0.000000  0.002236  1.278118e-04

                        Roll Spread  CS Spread      AGK1  AGK2  AR Spread
symbol  year month day
SOLUSDT 2023 9     1       0.000574   0.000241  0.000597   0.0   0.000185
                   2       0.000331   0.000154  0.000348   0.0   0.000000
                   3       0.000208   0.000127  0.000220   0.0   0.000000
                   4       0.000273   0.000190  0.000280   0.0   0.000000
                   5       0.000000   0.000283  0.000000   0.0   0.000000

                   R²      RMSE       MAE        Score
S1           0.118935  0.000577  0.000468  1289.549050
S2          -0.365528  0.000718  0.000540  1080.980826
S3          -2.451789  0.001142  0.000866   675.862047
S4          -0.738915  0.000811  0.000579   986.696085
Roll Spread -0.087199  0.000641  0.000492  1197.194756
CS Spread   -0.073371  0.000637  0.000492  1200.988670
AGK1        -0.119536  0.000650  0.000521  1152.824774
AGK2        -1.179261  0.000907  0.000670   864.608433
AR Spread   -0.717520  0.000806  0.000605   964.910711

                 RMSE
S1           0.000577
S2           0.000718
S3           0.001142
S4           0.000811
Roll Spread  0.000641
CS Spread    0.000637
AGK1         0.000650
AGK2         0.000907
AR Spread    0.000806